<!--
    Urban by TEMPLATED
    templated.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "about us";
}
<br />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="~/assets/css/main.css" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>أول ستب</h1>
            <p>
                الموقع الاول في الشرق الاوسط لتطوير السيرة الذاتية
            </p>
        </header>
        <video width="550" height="400" controls autoplay class="video">
            <source src="~/video/ff.mp4" type="video/mp4" >
        </video>
    </div>
</section>


<!-- Main -->
<div id="main">

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <!-- 2 Columns -->
            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/img/about us.png" alt="" />
                    </div>
                </div>
                <div class="col col2">
                    <h3>
                        من نحن وماذا نصنع ؟
                    </h3>
                    <p>فريق عملنا يتكوّن من خبراء في كتابة السيرة الذاتية الاحترافية، لإعداد أفضل السير الذاتية وتسليط الضوء على مكامن القوّة في سيرتك المهنيّة و لجعل سيرتك الذاتية ضمن المعايير المعترف فيها عالميا في الاحترافية لدينا خبراء في مجال صناعة السيرة الذاتية والتوظيف في الشرق الاوسط، ونعرف جيّداً كيف نصنع لك سيرة ذاتيّة متفوقة على غيرك من المتنافسين معك على نفس الوظيفة لحصولك على مقابلة عمل بأسرع وجه.نقوم بـ كتابة السيرة الذاتية باحتراف حتى ولو لم يكن لديك خبرة، حيث نعرف كيفية إقناع المقدم إليه السيرة الذاتية بمهاراتك وإمكانياتك .</p>

                    فريق دعم إحترافي 24/24
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>
                        فريق دعم إحترافي 24/24
                    </h3>
                    <p>
                        مختصين ومحترفين في مجال التوظيف

                        تحديثات و دعم متواصل

                        نقدم أفضل التصاميم من اى وقت مضى

                        تقديم استشارات
                    </p>

                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/img/pro.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style1">
        <div class="inner">
            <!-- 2 Columns -->
            <div class="flex flex-2">
                <div class="col col1">
                    <div class="image round fit">
                        <img src="~/img/nom.png" alt="" />
                    </div>
                </div>
                <div class="col col2">
                    <h3>
                        أهدافنا
                    </h3>
                    <p>تسعى شركة اول ستب الى تغيير مفهوم تصميم السيرة الذاتية و ابراز نقاط القوة بشكل خاص بالتركيز على القدرات و الخبرات بطريقة احترافية و تقديم حلول التوظيف بشكل خاص ، وذلك من خلال تقديم خدمات متنوعة وعروض مناسبة لجميع الأفراد و الشركات بأحدث التقنيات وأفضل جودة واسرع وقت ، بالاضافة الى دعم فنى حقيقي يتواصل مع العملاء بشكل فعّال وتكون مهمتة الاولى هى رضاء العميل ، ومع كل ذلك تأتى الأمانة و الصدق و الوضوح مع العملاء .</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="wrapper style2">
        <div class="inner">
            <div class="flex flex-2">
                <div class="col col2">
                    <h3>
                        الرؤية والرسالة
                    </h3>
                    <p>
                        شركة اول ستب هي بمثابة فريق ذكي تقنيا يتكون من خبراء المصممين والمطورين للسيرة الذاتية . يقع على عاتقهم مساعدة الباحثين عن العمل وارشادهم الى الطريق الصحيح. من خلال تقديم البحث والتحليل ، والأفكار المبتكرة، والتصميم التفاعلي لخدمات السيرة الذاتية الاحترافية ، بالاضافة الى مساعدة المنظمات والشركات و رواد الاعمال على تصميم سيرة ذاتية احترافية لعملاء الشركة لجعلهم مرآة لانعكاس الموظفين بخبراتهم و كفاءتهم حتى تمثل كل قسم بثروة خبراتهم ، دراستهم ، نقاط قوتهم لتنفرد بندرة الكفاءات و التميز بعرضهم على موقع الشركة اون لاين من اجل ان تخلق أعمال تجارية ناجحة .
                    </p>

                </div>
                <div class="col col1 first">
                    <div class="image round fit">
                        <img src="~/img/vision.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li><a href="#" class="icon fa-whatsapp"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <p>&copy;  All rights reserved</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>


