@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "home";
}
<link rel="stylesheet" href="~/assets/css/mainz.css" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<style>
    body {
        color: white;
        background-image: url('/img/header.jpeg');
    }
</style>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>أول ستب</h1>
            <p>
                الموقع الاول في الشرق الاوسط لتطوير السيرة الذاتية
            </p>
        </header>
        <a asp-action="aboutus" asp-controller="Home" class="button big scrolly">الفئات</a>
        <a asp-action="catotogory" asp-controller="Home" class="button big scrolly">تعرف المزيد</a>
    </div>
</section>



<!-- Footer -->
