@model CVweb.ViewModel.video
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "adminindex";
}
<h1>dddd</h1>
<br />
<br />
<br />
<br />
<form enctype="multipart/form-data" method="post" asp-controller="Home" asp-action="upload">
    <div class="custom-file">
        <input asp-for="cv" type="file" class="form-control custom-file-input" onchange="fun()" id="dd" required>
        <label class="custom-file-label">Choose File...</label>
    </div>
    <button type="submit" class="btn btn-success">upload</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>