@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "do";
}
   <h1>dddddd</h1>
   <div class="container">
       <div class="alert alert-primary" role="alert">
           place confirm your email
       </div>
   </div>