@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "userpage";
}

@model CVweb.ViewModel.ForgotPasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <style>
        .c {
            margin: auto;
            width: 50%;
            border: 3px solid gray;
            padding: 10px;
            margin-top: 50px;
        }
       
 
    </style>
<h2>Forgot Password</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="c">
                <div class="form-group">
                       <h4>استرجاع كلمة السر</h4> <br />
                    <label asp-for="Email">البريد الإلكتروني</label>
                    <input asp-for="Email" class="form-control" required type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div asp-validation-summary="All" class="text-danger"></div>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

