@model CVweb.ViewModel.cc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "checkout";
}

<link rel="stylesheet" type="text/css" href="~/css/checkoutSheetz.css">


<centre>
<div class="container">
    <form enctype="multipart/form-data" method="post" asp-controller="Check" asp-action="pay">
        <div class="row">

            <div class="col-lg-12 mb-4">

                <h4 id="kkb">يرجى إرفاق السيرة الذاتية وصورة شخصية</h4>

            </div>
            <div class="col-lg-12 mb-4">
                <h3> كتابة سيرة ذاتية لخبرات متوسطة 6-10 سنوات</h3>
            </div>
            <div class="col-lg-12 mb-4">
                <div class="form-group row">
                    <label asp-for="cv" class="col-sm-2 col-form-label">CV</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="cv" type="file" class="form-control custom-file-input" onchange="fun()" id="dd" required>
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12 mb-4">
                <div class="form-group row">
                    <label asp-for="photo" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="photo" class="form-control custom-file-input" required>
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mb-4">
                <label> كتابة سيرة ذاتية لخبرات متوسطة <input type="checkbox" name="cc" asp-for="mid" id="myCheck" class="che" onclick="fun2()">  </label><span class="price">300 ريال    </span>
                <input type="text" value="300" hidden class="To" />
            </div>
            <div class="col-lg-12 mb-4">
                <label>كتابة رسالة تعريفية  <input type="checkbox" asp-for="know" class="che" onclick="fun2()">  </label><span class="price">150  ريال  </span>
                <input type="text" value="150" hidden class="To" />

            </div>
            <div class="col-lg-12 mb-4">
                <label>إضافة نسخة باللغة العربية  <input type="checkbox" asp-for="arabic" class="che" onclick="fun2()">  </label><span class="price">250  ريال  </span>
                <input type="text" value="250" hidden class="To" />

            </div>
            <div class="col-lg-12 mb-4">
                <label> محتوى بروفايل inked in احترافي   <input type="checkbox" asp-for="linkedin" class="che" onclick="fun2()">  </label><span class="price">250  ريال </span>
                <input type="text" value="250" hidden class="To" />

            </div>

            <div class="col-lg-12 mb-4">
                <label> خدمة التسليم السريع خلال 3 أبام <input type="checkbox" asp-for="fast" value="150" class="che" onclick="fun2()">  </label><span class="price">150 ريال   </span>
                <input type="text" value="150" hidden class="To" />

            </div>
            <div class="col-lg-12 mb-4">
                <input type="text" value="@ViewBag.sal" asp-for="type" hidden id="hid" />
                <span class="ff"> المجموع </span> <span class="price" id="kk">@ViewBag.sal</span><span> ريال </span>

            </div>





        </div>
        <button type="submit" class="btn btn-success">شراء</button>
    </form>

</div>
</centre>
<script type="text/javascript" src="~/js/JavaScript1222.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
