@model CVweb.ViewModel.payy
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "checkout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AVz45kKTZqHbWZfDsb4FQvQ1hk9-4MuwWgyD7C5gn6RTJoOXLJFxGElvvlBjPI1fc__l4toYucGpnrO5">
</script>
<style>
    .c {
        margin: auto;
        width: 50%;
        border: 3px solid gray;
        padding: 10px;
        margin-top: 50px;
    }
</style>
<h1>pay</h1>
<h1>الرجاء اختيار طريقة الدفع</h1>
<div class="c">
    <div class="form-group">
        <div id="paypal-button-container">


        </div>
</div>
  </div>
<script>
    paypal.Buttons({
        createOrder: function () {
            return Promise.resolve("@ViewBag.idcv");

        },
        onApprove: function (data, actions) {
            console.log("dddd");
            location="/Check/done/@ViewBag.idcv";
        }
    }).render('#paypal-button-container');
</script>